<div class="ui hidden clearing divider"></div>
<div class="ui hidden clearing divider"></div>
<div class="footer-class">
       <p><q>Copyrighted, don't copy me</q>  - Missy Elliot</p>
</div>
</body>
</html>