li{
    font-size: 1.1em;
}

.recipe-title {
    font-size: 3em;
}


.footer-class{
    background-color: rgba(206, 17, 17, 0.89);
    color: white;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.footer-class p {
    align-self: center;
}

.main-class {
    height: 80vh;
}

.recipe-info {
margin: 0;
box-sizing: border-box;
margin-top: 3%;
font-weight: 700;
font-size: 1.4em;
}

.recipe-box {
    margin-top: 1em;
    width: 50%;
    float: right;
    padding: 3em;
    box-sizing: border-box;
}
.image-single {
    float: left;
    width: 50%;
    padding: 2em;
}

.form-group {
    margin-left: 15%;
    width: 40%;
}

.submit-button {
    display: inline;
}

.recipe-info_ingredients, .recipe-info_instructions, .recipe-info_cooking-time {
width: 150px;
height: 30px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.loginform {
    width: 20%;
    margin: 0 auto;
    margin-top: 5%;
}

.ui .card {
    width: 200px;
    padding: 3%;
    box-sizing: border-box;
}